[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
localstack = "*"
awscli-local = "*"
awscli = "*"
requests = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
